// $fontStack:    Helvetica, sans-serif;
$fontStack:    Microsoft YaHei,Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;
$primaryColor: #333;
$ten : 10;

* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
}
body {
	font-family: $fontStack;
  	color: $primaryColor;
  	background: #f0f1f2;
}
@for $i from 0 through 10 { 
  .ml#{$i * 5} { margin-left: 0px + $i * 5 !important; }
  .mr#{$i * 5} { margin-right: 0px + $i * 5 !important; }
  .mt#{$i * 5} { margin-top: 0px + $i * 5 !important; }
  .mb#{$i * 5} { margin-bottom: 0px + $i * 5 !important; }
}
.text-center {
	text-align: center;
}
.overflow {
	overflow: hidden;
}
.pull-right {
	float: right;
}
.clear-both {
	clear: both;
}
@import 'theader.scss';
.nav-tabs>li>a.v-active {
	background-color: #fff;
	border-bottom-color: #fff !important;
	border: 1px solid #ddd;
	color: $primaryColor;
}
.card {
	overflow: hidden;
	margin: 15px;
	background: #fff;
	border: 1px solid #ddd;
	border-top: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 15px;
	border-radius: 10px;
}
#chart {
	// text-align: center;
	form.form-inline {
		padding: 30px 0;
	    margin: 0 -15px 30px;
	    border-bottom: 1px dashed #ddd;
		.form-group {
			margin-left: 30px;
			label {
				margin-right: 10px;
			}
		}
	}
}
.v-tag {
	.v-active {
		.ivu-menu-item{
			color: #2d8cf0;
    		border-bottom: 2px solid #2d8cf0;
		}
	}
}
.form-inline {
	display: inline-block;
	.ivu-form-item {
		margin-bottom: 0 !important;
    	vertical-align: baseline !important;
	}
}
.input-search {
	display: inline-table;
	width: 300px;
}
.vertical-center-modal {
	ul {
		>li {
			overflow: hidden;
			>span {
				display: block;
				width: 40px;
				float: left;
				padding-top: 10px;
			}
			>div {
				margin-left: 50px;
				.ivu-table-wrapper {
					top: -10px;
				}
			}
		}
	}
}

.no-auth {
	font-size: 16px;
	text-align: center;
	margin-top: 50px;
}